# URL para la API de Firmness
# Para desarrollo local (fuera de Docker), usa: http://localhost:8081
# Para el entorno de Docker Compose, la variable se sobrescribe a: http://api:8081
NEXT_PUBLIC_API_URL=http://localhost:8081
